*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 15px;
}

#header{
    height:46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 999;
}

#nav{
    display: inline-block;
}

#nav li a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    line-height: 46px;
    padding: 0 24px;
}

#nav>li>a{
    text-transform: uppercase;
}

#nav>li{
    display: inline-block;
}

#nav > li:hover > a{
    background-color: #ccc;
    color: black;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color:#fff;
    min-width: 160px;
    top:100%;
    left:0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 999;
}

#nav .subnav li{
    display: block;
}

#nav .subnav li a{
    color:#000;
    display: block;
    padding: 0 12px;
}

#nav .subnav li a:hover{
    background-color: #ccc;
}

#nav li:last-child{
    position:relative;
}

#nav li:last-child:hover .subnav{
    display: block;
}

.search-button{
    float:right;
    line-height: 46px;
    padding:0 24px;
}

.search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}

.search-icon{
    font-size: 14px;
    color:white;
}

#slider{
    background-color: #333;
    margin-top:46px;
    padding-top:50%;
    background-image: url(https://www.w3schools.com/w3images/la.jpg);
    background-origin: padding-box;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -999;

}

#slider > #caption{
    color:#fff;
    width: 30%;
    /* height:50%; */
    position:absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 32px 16px;
    line-height: 22.5px;
}

#slider #caption h3, p{
    margin:25px 0 15px;
}

#slider > #caption >h3{
    font-size: 24px;
    font-weight: 400;
}

.content-item{
    padding: 64px 16px;
    width: 800px;
    margin:0 auto;
    text-align:center;
    font-size: 15px;
}

#content .content-heading{
    margin:10px 0;
    font-size: 15px;
    line-height: 1.5;
}

#content .content-descript{
    margin:15px 0;
    font-size: 15px;
    line-height: 1.5;
}

#content #about{
    background-color: #fff;
    min-height: 667px;
}

#content .content-item>p>i{
    color:rgb(78, 78, 78)
}

#content .content-item h2{
   text-transform: uppercase;
   font-size: 30px;
   font-weight: 400;
   letter-spacing: 4px;
}

#about .about-text{
    text-align: justify;
    line-height: 1.5;
}

#about .about-img{
    display: block;
    width: 255px;
    height: 221px;
    float:left;
}

.about-img img{
    border-radius: 4px;
}

#content #tour{
    min-height:840px;
    background-color: #000;
}

#content #tour #tour-content{
    padding:64px 16px;
    margin:0 auto;
    height:840px;
    position:relative;
}
#content #tour #tour-content h2{
    color:#fff;
}

#tour #tour-list{
    background-color: #fff;
    display: block;
    margin-top: 30px;
}

#tour #tour-list li{
    padding:8px 16px;
    border-bottom: 1px solid rgb(122, 122, 122);
    text-align: left;
}

.soldout{
    display: inline-block;
    color:#fff;
    background-color: #f44336;
    padding: 0 8px;
    margin-left: 16px;
    line-height: 1.5;
    font-size: 15px;
}

#tour #tour-list li:last-child{
    position:relative;
}

.tiketnumber{
    display: inline-block;
    padding:0 8px;
    background-color: #000;
    color:#fff;
    border-radius: 50%;
    font-size: 15px;
    line-height: 1.5;
    position:absolute;
    right:32px;
    bottom:5px;
}

#tour-content #tour-article{
    padding:36px 8px;
    display: inline-block;
    position:absolute;
    left:0;
    right:0;
}

.article{
    display: block;
    padding:0 8px;
    width: 261px;
    float: left;
}

.article .article-content{
    background-color: #fff;
    text-align: left;
    padding:0 16px;
    display: block;
    width: 245px;
    height:202px;
    float: left;
}

.article .article-content strong,
.article .article-content div,
.article .article-content p{
    margin:15px 0;
    font-size: 15px;
    line-height: 1.5;
}

.article .article-img{
    display: block;
    float:left;
}

.article .article-content .dates{
    color:rgb(102, 101, 101)
}

.article-img{
    width: 245px;
    height: 184px;
    position:relative;
}

.article .article-img:hover .cover{
    display: block;
}

.article .article-img .cover{
    position :absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.article .article-content .ticketBuing{
    padding: 8px 16px;
    margin:0 0 16px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.article .article-content .ticketBuing:hover{
    color: #000;
    background-color: #ccc;
}

#tour #darklayer{
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position:fixed;
    top:0;
    left:0;
    padding-top: 100px;
    display: none;
    z-index: 9999;
}

#tour #darklayer #ticketBuyingForm{
    display: block;
    width: 914px;
    margin: auto;
    background-color: #009688;
    opacity: 0;
    box-shadow: 0 0 10px rgb(85, 84, 84);
}

#ticketBuyingForm #formheading h2#heading{
    font-size: 30px;
    font-weight: 400;
    margin:10px 0;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

#ticketBuyingForm #formheading{
    display: block;
    padding:32px 16px;
    position: relative;
}

#ticketBuyingForm #formcontent{
    padding: 0 16px;
    width: 100%;
    background-color: #fff;
    position: relative;
}

#ticketBuyingForm #formcontent .formlable{
    padding: 15px 0;
    font-size: 15px;
    line-height: 1.5;
}

#ticketBuyingForm #formcontent .forminput{
    display: block;
    width: 100%;
    padding: 8px;
    line-height: 1.5;
    border: 1px solid #ccc;
    font-size: 15px;
}

#ticketBuyingForm #formcontent .form-submit{
    margin: 16px 0;
    padding: 16px;
    background-color: #009688;
    line-height: 1.5;
    font-size: 15px;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    border:none;
}

#ticketBuyingForm #formcontent .form-submit:hover{
    background-color: #ccc;
}

#ticketBuyingForm #formheading .x-icon{
    display: inline-block;
    position:absolute;
    top:0;
    right:0;
    padding: 8px 16px;
    font-size: 24px;
    line-height: 1.5;
    color:#fff;
    cursor: pointer;
}

#ticketBuyingForm #formheading .x-icon:hover{
    background-color: #ccc;
    color: #000;
}

#ticketBuyingForm #formcontent .cancle-button{
    display: inline-block;
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #f44336;
    color:#fff;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    cursor: pointer;
}

#ticketBuyingForm #formcontent .cancle-button:hover{
    background-color: #ccc;
    color: #000;
}

#ticketBuyingForm #formcontent .help{
    font-size: 15px;
    line-height: 1.5;
    margin:15px 16px;
    position:absolute;
    right:0;
    bottom: 16px;
}

#formcontent .help >a{
    text-decoration: underline;
    color:#2196F3;
}

@keyframes showform{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes formtransition{
    from{
        padding-top: 0;
    }
    to{
        padding-top: 100px;
    }
}

#contact .contact-content{
    width: 100%;
    display: inline-block;
    padding:32px 0;
}

.contact-content .left-contact{
    width: 50%;
    float:left;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 16px;
}

.left-contact .fas{
    padding-right: 15px;
}

.contact-content .right-contact{
    width: 50%;
    height:158px;
    float:right;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
}

.right-contact .formcontainer input{
    width: calc(50% - 8px);
    float: left;
    border: 1px solid #ccc;
    padding: 8px;
    height: 40px;
}

.right-contact .formcontainer .name{
    margin: 0 8px 8px 0;
}

.right-contact .formcontainer .email{
    margin: 0 0 8px 8px;
}

.right-contact .formcontainer .massage{
    width: 100%;
}

.right-contact .formcontainer .submit{
    position: absolute;
    right:0;
    bottom: 0;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    margin: 16px 0;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
}

.formcontainer .submit:hover{
    background-color: #ccc;
    color: #000;
}

#content #img{
    padding-top:56.2%;
    background-color: #333;
    width: 100%;
    background:url(https://www.w3schools.com/w3images/map.jpg) no-repeat padding-box;
    background-size: cover;
    filter: grayscale(50%);
}

#footer{
    padding: 64px 16px;
    text-align: center;
    color: #000;
    font-size: 24px;
    line-height: 1.5;
    opacity: 0.60;
    background-color: #f1f1f1;
}

#footer > a:hover{
    opacity: 0.6;
}

#footer a{
    color:inherit;
}
#footer p{
    font-size: 15px;
    margin: 15px 0;
}